<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPaginator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftPaginatorExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C67D1A4C1CADBD1000AD0DAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C67D1A561CADBD1000AD0DAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C67D1A6C1CADEC6B00AD0DAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C67D1A7F1CADEC6B00AD0DAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
